.inputButton {
  padding: 12px 24px;        
  font-size: 24px;
  margin: 8px;           
  border-radius: 10px;       
  background-color: #1f2326; 
  color: white;              
  border: none;              
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputButton:hover {
  background-color: #2f3439;
}